@using WebApplication8.Models

@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@


<p>       </p>

<p>Swansea University computer science student third year project, a web application for amateur football players accessing sports data.</p>

@*<style>
    body {
        background-color: #d0e4fe;
    }

    p {
        font-family: "Times New Roman";
        font-size: 20px;
    }
</style>*@


