@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@

<p>       </p>

<p>       </p>

<address>
    Swansea<br />
    Saint Christopher's Court<br />
    <abbr title="Email Address"></abbr>
    929638@swan.ac.uk
</address>

@*<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

@*<style>
    body {
        background-color: #d0e4fe;
    }

    p {
        font-family: "Times New Roman";
        font-size: 20px;
    }
</style>*@
