@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #d0e4fe;
    }
    p {
        font-family: "Times New Roman";
        font-size: 20px;
    }
</style>

<div class="jumbotron">
    <h1>Web Application</h1>
    <p class="lead">Web Application for entering sports data version 1.0</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a match result</h2>
        <p>
            Add a match result for a match that has ended.
        </p>
        <p><a class="btn btn-default" asp-controller="Match" asp-action="Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View existing matches</h2>
        <p>View existing match results.</p>
        <p><a class="btn btn-default" asp-controller="Match" asp-action="MatchList">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>upload new upcoming matches</h2>
        <p></p>
        <p><a class="btn btn-default" asp-controller="Match" asp-action="AddNewMatch">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View new upcoming matches</h2>
        <p>Go view new upcoming matches, player can register in a new match.</p>
        <p><a class="btn btn-default" asp-controller="Match" asp-action="NewMatchList">Go &raquo;</a></p>
    </div>
</div>
