@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #d0e4fe;
    }
    p {
        font-family: "Times New Roman";
        font-size: 20px;
    }
</style>

<div class="jumbotron">
    <h1>Blog Web Application</h1>
    <p class="lead">A simple blog web application allowing users to create,view,edit,delete posts and add,delete comments with different user roles.
    Please register or login before use.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create new posts</h2>
        <p>
            Only administrator can create new posts,please register or login as a application user.
        </p>
        <p><a class="btn btn-default" asp-controller="Post" asp-action="Index">Go create posts&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View existing posts</h2>
        <p>Any user and have views of existing posts,but only customer can add comments to posts</p>
        <p><a class="btn btn-default"  asp-controller="Post" asp-action="PostList">Go view posts &raquo;</a></p>
    </div>
</div>
