@model WebApplication8.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="postid" />
        <input type="submit" value="Delete" class="btn btn-default"  onclick="msgNotification()"/> 
        <a asp-controller="Post" asp-action="PostList">Back to List</a>
    </form>
</div>

<script>
    function msgNotification() {
        alert("A post has been deleted successfully!")
    }
</script>
