@model WebApplication8.Models.PlayerPerformance
@using System.Web.Optimization

@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>PlayerPerformance</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="PlayerPerformances" asp-action="CreatePlayerPerformance">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="linkedTeamname" class="control-label"></label>
                    @Html.DropDownList("linkedTeamname", new SelectList(ViewBag.drolistmenu1, "Value", "Text"), "select team",
                    new
                    {
                        @class = "custom-class-for-width",
                        style = "width: 60px,length: 30px",
                        @id = "Team"
                    })
                    <span asp-validation-for="linkedTeamname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="linkedplayername" class="control-label"></label>
                    @Html.DropDownList("linkedplayername", new SelectList(ViewBag.drolistmenu2, "Value", "Text"), "select player",
                     new
                     {
                        @class = "custom-class-for-width",
                        style = "width: 60px,length: 30px",
                        @id = "Player"
                     })
                    <span asp-validation-for="linkedplayername" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="startup" class="control-label"></label>
                    <input asp-for="startup" class="form-control" />
                    <span asp-validation-for="startup" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="substitute" class="control-label"></label>
                    <input asp-for="substitute" class="form-control" />
                    <span asp-validation-for="substitute" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="goals" class="control-label"></label>
                    <input asp-for="goals" class="form-control" />
                    <span asp-validation-for="goals" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="assists" class="control-label"></label>
                    <input asp-for="assists" class="form-control" />
                    <span asp-validation-for="assists" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="keypasses" class="control-label"></label>
                    <input asp-for="keypasses" class="form-control" />
                    <span asp-validation-for="keypasses" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="keydribbles" class="control-label"></label>
                    <input asp-for="keydribbles" class="form-control" />
                    <span asp-validation-for="keydribbles" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="clearances" class="control-label"></label>
                    <input asp-for="clearances" class="form-control" />
                    <span asp-validation-for="clearances" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="saves" class="control-label"></label>
                    <input asp-for="saves" class="form-control" />
                    <span asp-validation-for="saves" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="yellowcard" class="control-label"></label>
                    <input asp-for="yellowcard" class="form-control" />
                    <span asp-validation-for="yellowcard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="redcard" class="control-label"></label>
                    <input asp-for="redcard" class="form-control" />
                    <span asp-validation-for="redcard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" onclick="msgNotification()" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>

@if (@ViewBag.Error == 1)
{
    <script>
        function msgNotification() {
            alert("The player does not exist in the team!")
        }
    </script>

}

else
{
    <script>
        function msgNotification() {
            alert("The player performance has been created successfully")
        }
    </script>
}


@*@section Scripts {
    <script src="~/bundles/jquery.js" type="text/javascript"></script>
        <script type="text/javascript">
                $('#Team').change(function () {
                    var selectedTeam = $("#Team").val();
                    var playersSelect = $('#Player');
                    playersSelect.empty();
                    if (selectedTeam != null && selectedTeam != '') {
                        $.getJSON('@Url.Action("GetPlayers")', { iso3: selectedTeam }, function (regions) {
                            if (regions != null && !jQuery.isEmptyObject(regions))
                            {
                                playersSelect.append($('<option/>', {
                                    value: null,
                                    text: ""
                                }));
                                $.each(regions, function (index, region) {
                                    playersSelect.append($('<option/>', {
                                        value: user.value,
                                        text: user.text
                                    }));
                                });
                            };
                        });
                    }
                });
        </script>
    }*@
