@model WebApplication8.Models.RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Register";
}

<h2>Register Page</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName">NickName</label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                @Html.DropDownList("UserRole",
                           new SelectList(Enum.GetValues(typeof(UserRole))),
                           "Select Role",
                           new
                           {
                               @class = "custom-class-for-width",
                               style = "width: 40px,length: 14px"
                           })
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@*<form action="/Account/Register" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            @Html.DropDownList("UserRole",
                       new SelectList(Enum.GetValues(typeof(UserRole))),
                       "Select Role",
                       new
                       {
                           @class = "custom-class-for-width",
                           style = "width: 25px,length: 14px"
                       })
        </div>

        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="NickName">NickName</label>
            <input asp-for="NickName" />
            <span asp-validation-for="NickName"></span>
        </div>

        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="ConfirmPassword">ConfirmPassword</label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <button type="submit" value="Submit">Register</button>

    </form>*@

