@addTagHelper " *,Microsoft.AspNetCore.Mvc.TagHelpers"
@model WebApplication8.Models.NewMatch

@{
    ViewData["Title"] = "AddNewMatch";
}

<style>
    body {
        background-color: darkseagreen;
    }

    p {
        font-family: "Times New Roman";
        font-size: 20px;
    }
</style>

<h4>Add a upcoming new match here</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewMatch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="newMatchId" />
            <div class="form-group">
                <label asp-for="matchType" class="control-label">Match type</label>
                <input asp-for="matchType" class="form-control" />
                <span asp-validation-for="matchType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label">Match location</label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateTime" class="control-label">Match date and time</label>
                <input asp-for="dateTime" class="form-control" />
                <span asp-validation-for="dateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penalty" class="control-label">penalty</label>
                <input asp-for="Penalty" class="form-control" />
                <span asp-validation-for="Penalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Overtime" class="control-label">overtime</label>
                <input asp-for="Overtime" class="form-control" />
                <span asp-validation-for="Overtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matchDescription" class="control-label">Match description</label>
                <input asp-for="matchDescription" class="form-control" />
                <span asp-validation-for="matchDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
