@model WebApplication8.Models.Match

@{
    ViewData["Title"] = "Delete";
}


<h2>Delete Match</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="matchid" />
        <input type="submit" value="Delete" class="btn btn-default"  onclick="msgNotification()"/> 
        <a asp-controller="Match" asp-action="MatchList">Back to List</a>
    </form>
</div>

<script>
    function msgNotification() {
        alert("A match has been deleted successfully!")
    }
</script>
