@addTagHelper " *,Microsoft.AspNetCore.Mvc.TagHelpers"
@model WebApplication8.Models.Match

@{
    ViewData["Title"] = "MatchPage";
}

@*<style>
    body {
        background-color: darkseagreen;
    }

    p {
        font-family: "Times New Roman";
        font-size: 20px;
    }
</style>*@

<h4>Add a new match result</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="matchid" />

            <div class="form-group">
                <label asp-for="team1Name" class="control-label"></label>
                @Html.DropDownList("team1Name", new SelectList(ViewBag.drolistmenu1, "Value", "Text"), "select team1",
                new
                {
                    @class = "custom-class-for-width",
                    style = "width: 60px,length: 30px"
                })
                <span asp-validation-for="team1Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="team2Name" class="control-label"></label>
                @Html.DropDownList("team2Name", new SelectList(ViewBag.drolistmenu2, "Value", "Text"), "select team2",
                new
                {
                    @class = "custom-class-for-width",
                    style = "width: 60px,length: 30px"
                })
                <span asp-validation-for="team2Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="team1Score" class="control-label"></label>
                <input asp-for="team1Score" class="form-control" />
                <span asp-validation-for="team1Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="team2Score" class="control-label"></label>
                <input asp-for="team2Score" class="form-control" />
                <span asp-validation-for="team2Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateTime" class="control-label"></label>
                <input asp-for="dateTime" class="form-control" />
                <span asp-validation-for="dateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="penalty" class="control-label"></label>
                @Html.DropDownList("penalty",
                           new SelectList(Enum.GetValues(typeof(penalty))),
                           "",
                           new
                           {
                               @class = "custom-class-for-width",
                               style = "width: 60px,length: 30px"
                           })
                <span asp-validation-for="penalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="overtime" class="control-label"></label>
                @Html.DropDownList("overtime",
                        new SelectList(Enum.GetValues(typeof(overtime))),
                           "",
                           new
                           {
                               @class = "custom-class-for-width",
                               style = "width: 60px,length: 30px"
                           })
                <span asp-validation-for="overtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="team1PenaltyScore" class="control-label"></label>
                <input asp-for="team1PenaltyScore" class="form-control" />
                <span asp-validation-for="team1PenaltyScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="team2PenaltyScore" class="control-label"></label>
                <input asp-for="team2PenaltyScore" class="form-control" />
                <span asp-validation-for="team2PenaltyScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
