@addTagHelper " *,Microsoft.AspNetCore.Mvc.TagHelpers"
@model WebApplication8.Models.NewMatchListViewModel

@{
    ViewData["Title"] = "NewMatchList";
}

<h2>NewMatchList</h2>

<style>
    body {
        background-color:darkseagreen;
    }

    p {
        font-family: "Times New Roman";
        font-size: 20px;
    }
</style>

<body>
    <ul>
        @foreach (WebApplication8.Models.NewMatch newmatch in Model.NewMatches)
        {
            <li>
                @newmatch.matchType   @newmatch.dateTime
                <a asp-controller="Match" asp-action="NewMatchDetail" asp-route-id="@newmatch.newMatchId">Details</a>
            </li>
        }
    </ul>
    <a asp-controller="Home" asp-action="Index"> Go to home page</a>
</body>
